@import "../variables.scss";

.categories {
  margin-left:  5%;
  @media (max-width: 985px) {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    li {
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      padding: 1rem 1em;
      height: inherit;
      &:hover {
        background-color: #424242;
      }
      &.active {
        background: linear-gradient(
          to right,
          #dc9014 0%,
          #f6e27e 50%,
          #dc9014 100%
        );
        background-size: 100% 2px;
        background-position-y: bottom;
        background-repeat: no-repeat;
      }
      .categories__img{
        width: 98%;
        height: 95%;
      }
    }
  }
}
