$black: #252525;
$background: #eaeaea;
$gray-line: #f6f6f6;
$white: #fff;

$container-width: 90%;

$duration: 0.15s;

$width-pc: 1400px;
$width-pc-sm: 1078px;
$width-ipad: 985px;
$width-ipad-sm: 736px;
$width-mobile-lg: 645px;
$width-mobile-sm: 450px;
$width-change-order: 839px;
